@model DorcasClub.Price

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Price</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purchase_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchase_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sale_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sale_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insertionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insertionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codeDevis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codeDevis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type_product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type_product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session.etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session.etat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPrice }) |
    @Html.ActionLink("Back to List", "Index")
</p>
