@model IEnumerable<DorcasClub.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header">
        <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new card">
            <div class="row no-gutters">
                <div class="col-md-3"><span style="padding-top: 9px; font-size: 16px; " class="content-header-title mb-0 d-inline-block">Liste des utilisateurs</span></div>
                <div class="col-md-3" style=" padding-top: 8px;">
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Paramétrage</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/Users">Utilisateurs</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Liste
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group float-md-right">
                        <a href="@Url.Action("Create","Users")" class="btn btn-success"><i class="la la-plus"></i>Ajouter</a>

                    </div>
                </div>
            </div>


        </div>

    </div>

    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <table class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.userName)
                                </th>*@
                            <th>
                                Nom
                            </th>
                            <th>
                                Prénom
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Password)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Login)
                                </th>*@
                            <th>
                                Date de création
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.HashPassword)
                                </th>*@
                            <th>

                                Rôle
                            </th>
                            <th style="width:11%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.userName)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Password)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Login)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.HashPassword)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role.libelle)
                                </td>
                                <td style="width:11%">
                                    @Html.ActionLink(" ", "Edit", new { id = item.idUsers }, new { @class = "success edit la la-pencil" }) |
                                    @Html.ActionLink(" ", "Details", new { id = item.idUsers }, new { @class = "warning details  la la-eye" })|
                                    @*@Html.ActionLink(" ", "Delete", new { id = item. }, new { @class = "danger delete  la la-trash-o" })*@
                                    <button class="btn p-0" name="delete" id="delete" data-id="@item.idUsers" onclick="openModaldelete('@item.idUsers', 'Utilisateur N° ')">
                                        <i class="danger delete  la la-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">

                <h1 class="modal-title">Confirmation Suppression</h1>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" name="supprimer" id="supprimer" class="btn btn-danger" style="width:100px">Supprimer</button>
                <button type="button" class="btn btn-info" data-dismiss="modal" style="width:100px">Close</button>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    function openModaldelete(ID, name) {
    $(".modal-body").html("Voulez vous Supprimez " + name + ID);
    $("#myModal").modal('show');
    $("#supprimer").click(function () {
    window.location.href = "/Users/DeleteConfirmed?id=" + ID
    });
    }
    </script>
    }