@model DorcasClub.Menu

@{
    ViewBag.Title = "Détails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ListeElements = ViewData["listselected"] as IEnumerable<Element>;
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="content-header-left col-md-12 col-12 mb-1 breadcrumb-new card">
            <div class="row no-gutters">
                <div class="col-md-3"><span style="padding-top: 9px; font-size: 16px; " class="content-header-title mb-0 d-inline-block">Consultation Menu/Repas (@Model.Nom)</span></div>
                <div class="col-md-4" style=" padding-top: 8px;">
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Tableau de Bord</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/Menus">Menu/Repas</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Consulter
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>
    <style>
        #modules {
            padding: 20px;
            background: #eee;
            margin-bottom: 20px;
            z-index: 1;
            border-radius: 10px;
        }

        #dropzone {
            height: 642px;
            padding: 20px;
            background: #fff;
            min-height: 100px;
            margin-bottom: 20px;
            z-index: 0;
            border-radius: 10px;
            overflow: scroll;
            transition: all 0.3s ease 0s;
        }

        .active {
            /*outline: 1px solid red;*/
            transform: scale(1.02)
        }

        .hover {
            /*outline: 1px solid blue;*/
            transform: scale(1.07)
        }

        .drop-item {
            cursor: pointer;
            margin-bottom: 10px;
            background-color: rgb(255, 255, 255);
            padding: 5px 10px;
            border-radius: 45px;
            border: 1px solid rgb(204, 204, 204);
            position: relative;
            height: auto;
        }

            .drop-item details {
                padding: 10px
            }

            .drop-item .remove {
                position: absolute;
                top: 3px;
                right: 20px;
                border-radius: 45px;
                width: 45px;
                padding: 12px;
            }
    </style>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card mb-1">
                   
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h2 style="font-weight:bold" class="mt-1">@Model.Nom</h2>
                            </div>

                            <div class="col-md-6">
                              
                            </div>
                            <div class="col-md-3">
                                <label>Prix Total Repas</label>
                                <h2 id="priceAll" style="font-weight:bold">@Model.Prix </h2 >
</div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title bt-6"><b>Aliments</b>-pour 100G</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body pt-0">
                            <div id="modules" style=" overflow-y: auto; flex: 1 1 0%; padding: 0px 10px 10px; height: 500px;">
                                <div class="alert alert-warning">
                                    @foreach (var item in ListeElements)
                                    {
                                        <div style="width: 100%; margin: 10px 0px; display: flex; flex-direction: row; background: white; border-radius: 10px; box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px 0px; padding: 10px 10px 16px 10px; -webkit-box-align: center; align-items: center; ">
                                            <div style="text-align: center; margin-right:5px">
                                                <img class="media-object rounded-circle" src="@Url.Content(@item.FilePath)" width="48" height="48" alt="image">

                                            </div>
                                            <div class="media-link" style=" display: flex; flex-direction: column; flex: 1 1 0%; }">
                                                <h4>@item.Nom</h4>
                                                <p>
                                                    <small>
                                                        Calorie: @item.Energie <strong>Kcal</strong> - Kj: @item.Kj <strong>kJ</strong>
                                                         
                                                        G: @item.Glucide <strong>g</strong> | - P: @item.Proteine <strong>g</strong> | - L: @item.Lipide <strong>g</strong>
                                                    </small>
                                                </p>
                                                <span style="height:0; color: #fff">
                                                    @{var Checkelement = item.IdElement;}
                                                    @Checkelement
                                                </span>

                                            </div>
                                        </div>
                                    }
                                </div>

                               
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="ListAliment" name="ListAliment" />
                    <input type="hidden" id="calorie" name="calorie" value="0" />
                    <input type="hidden" id="glucide" name="glucide" value="0" />
                    <input type="hidden" id="proteine" name="proteine" value="0" />
                    <input type="hidden" id="lipide" name="lipide" value="0" />
                    @Html.HiddenFor(model => model.Prix, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                </div>
            </div>
            
        </div>


    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
