@model IEnumerable<DorcasClub.Entreneur>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new card">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <span style="padding-top: 9px; font-size: 16px; " class="content-header-title mb-0 d-inline-block">Liste des  Entreneurs</span>
                </div>
                <div class="col-md-6" style=" padding-top: 8px;">
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Tableau de Bord</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Entreneurs
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-group float-md-right">
                        <a href="@Url.Action("Create", "Entreneurs")" class="btn btn-success"><i class="la la-plus"></i>Ajouter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="demo-container card">
            <div id="entreneur_Grid"></div>
        </div>*@
    <section id="user-profile-cards-with-stats" class="row mt-2">
        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-md-6 col-12">
                <div class="card profile-card-with-stats">
                    <div class="text-center">
                        <div class="card-body">
                            <div style="text-align: right">
                                <a href="/Entreneurs/Edit/@item.IdEntreneur" class="success edit la la-pencil" style="font-size: 1.8rem"></a>
                                <a href="/Entreneurs/Details/@item.IdEntreneur" class="warning details la la-eye" style="font-size: 1.8rem"></a>
                                <a onclick="openModaldelete(@item.IdEntreneur, 'Entreneur N° ')" class="danger delete  la la-trash-o" style="font-size: 1.8rem"></a>
                            </div>
                            <img src="@Url.Content(@item.FilePath)" class="rounded-circle  height-150" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h6 class="card-title font-large-1 mb-0 text-center">@item.Nom @item.Prenom</h6>
                            <p class="font-small-3 mb-2 text-center">(@item.Mobile1)</p>
                            <ul class="list-inline list-inline-pipe">
                                <li>@item.Email</li>
                            </ul>
                        </div>
                        <div class=" card-footer mx-auto btn-group" role="group" aria-label="Profile example">
                            <button type="button" class="btn btn-float box-shadow-0 btn-outline-info"><span class="ladda-label"><i class="la la-bell-o"></i><span>12+</span></span><span class="ladda-spinner"></span></button>
                            <button type="button" class="btn btn-float box-shadow-0 btn-outline-info"><span class="ladda-label"><i class="la la-heart-o"></i><span>25</span></span><span class="ladda-spinner"></span></button>
                            <button type="button" class="btn btn-float box-shadow-0 btn-outline-info"><span class="ladda-label"><i class="la la-briefcase"></i><span>5</span></span><span class="ladda-spinner"></span></button>
                            <button type="button" class="btn btn-float box-shadow-0 btn-outline-info"><span class="ladda-label"><i class="ft-mail"></i><span>75+</span></span><span class="ladda-spinner"></span></button>
                            <button type="button" class="btn btn-float box-shadow-0 btn-outline-info"><span class="ladda-label"><i class="la la-dashcube"></i><span>125</span></span><span class="ladda-spinner"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h1 class="modal-title">Confirmation Suppression</h1>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" name="supprimer" id="supprimer" class="btn btn-danger" style="width:100px">Supprimer</button>
                <button type="button" class="btn btn-info" data-dismiss="modal" style="width:100px">Fermer</button>
            </div>
        </div>
    </div>
</div>

<script>
    function openModaldelete(ID, name) {
        $(".modal-body").html("Voulez vous Supprimez " + name + ID);
        $("#myModal").modal('show');
        $("#supprimer").click(function () {
            window.location.href = "/Entreneurs/DeleteConfirmed?id=" + ID
        });
    }
</script>

@*<script>
    var columns = [{
        dataField: 'IdEntreneur',
        caption: 'Id ',
    },
    {
        dataField: 'Nom',
        caption: 'Nom',
        dataType: 'string',
        alignment: 'left',
    },
    {
        dataField: 'Prenom',
        caption: 'Prénom',
        dataType: 'string',
        alignment: 'left',
    },
    {
        dataField: 'DateNaissance',
        caption: 'Date de Naissance',
        dataType: 'string',
        alignment: 'left',
    },


    {
        caption: 'Actions',
        width: 100,
        alignment: 'center',
        cellTemplate: function (container, options) {
            $('<a href="/Entreneurs/Edit/' + options.key + '" class="success edit la la-pencil"></a>')
                .on('dxclick', function (e) {
                })
                .appendTo(container);

            $('<a href="/Entreneurs/Details/' + options.key + '" class="warning details la la-eye"></a>')
                .on('dxclick', function () {

                })
                .appendTo(container);

            $('<button class="btn p-0"><i class="danger delete  la la-trash-o"></i></button>')
                .on('dxclick', function () {
                    openModaldelete('' + options.key + '', 'Menu N° ')
                })
                .appendTo(container);

        }
    },

    ];

</script>
<script>
    $(() => {
        $('#entreneur_Grid').dxDataGrid({

            dataSource: {
                store: {
                    type: 'odata',
                    url: '/Entreneurs/listeentreneurs',
                    key: 'IdEntreneur',
                    beforeSend(request) {
                        request.params.startDate = '2020-05-10';
                        request.params.endDate = '2020-05-15';
                    },
                },
            },
            selection: {
                mode: 'multiple',
            },
            focusedRowEnabled: true,
            hoverStateEnabled: true,

            columnChooser: { enabled: true },
            scrolling: {
                mode: 'virtual',
            },
            allowColumnResizing: true,
            showBorders: true,
            columnResizingMode: 'nextColumn',
            columnMinWidth: 50,
            columnAutoWidth: true,
            headerFilter: {
                visible: true,
            },
            filterPanel: {
                visible: true,
            },
            filterRow: { visible: true, applyFilter: "onClick" },
            paging: {
                pageSize: 10,
            },
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [10, 25, 50, 100],
            },
            remoteOperations: false,
            searchPanel: {
                visible: true,
                highlightCaseSensitive: true,
            },
            groupPanel: { visible: true },
            grouping: {
                autoExpandAll: false,
            },
            allowColumnReordering: true,
            rowAlternationEnabled: true,
            showBorders: true,
            columns: columns,
            onContentReady(e) {

            },
        });
    });



</script>*@

